footer {
    box-sizing: border-box;
    background: rgb(46, 46, 46);
    color: #fff;
    padding: 5px;
    text-align: center;
}
span{
    color: #11c83b;
}
footer p{
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}