<div class="container about-section py-3">
    <h1 class="text-center mb-4">About Us</h1>
    <p class="lead text-center mb-5">We are a team of developers with a lot of effort to create this amazing WebApp</p>
  
    <h2 class="mb-4 text-center">Our Team</h2>
    <div class="row row-cols-1 g-4">
        <div class="col my-5">
            <div class="card bg-light h-100 shadow-sm border-0">
              <div class="row">
                <div class="col-md-6 order-md-1 about-pic">
                  <img src="../../../assets/meet.jpg" class="card-img-top" alt="Meet">
                </div>
                <div class="col-md-6 order-md-1">
                  <div class="card-body profile-info">
                    <h5 class="card-title mb-0">Bhimani Meet</h5>
                    <p><strong>Enrollment No:</strong> 200280116039</p>
                    <p><strong>Branch:</strong> Information Technology</p>
                    <p><strong>Semester:</strong> 6th</p>
                    <p><strong>Email:</strong> bhimanimeet55555@gmail.com</p>
                    <p><strong>Phone:</strong> +91 96010 63644</p>
                    <p><strong>Skills:</strong> MERN Developer, Software Intern</p>
                    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/meet-bhimani-449948200/" target="_blank"> https://www.linkedin.com/in/meet-bhimani-449948200/</a></p>
                    <p><strong>Github:</strong> <a href="https://github.com/Meet5555" target="_blank"> https://github.com/Meet5555</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col my-5">
            <div class="card bg-light h-100 shadow-sm border-0">
              <div class="row">
                <div class="col-md-6 order-md-1 about-pic">
                  <img src="../../../assets/chirag.jpg" class="card-img-top" alt="Chirag">
                </div>
                <div class="col-md-6 order-md-1">
                  <div class="card-body profile-info">
                    <h5 class="card-title mb-0">Chirag Makwana</h5>
                    <p><strong>Enrollment No:</strong> 200280116044</p>
                    <p><strong>Branch:</strong> Information Technology</p>
                    <p><strong>Semester:</strong> 6th</p>
                    <p><strong>Email:</strong> chiragmakwana1807@gmail.com</p>
                    <p><strong>Phone:</strong> +91 93279 63104</p>
                    <p><strong>Skills:</strong> Application developer,Backend developer</p>
                    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/chirag-makwana-85956925a/" target="_blank"> https://www.linkedin.com/in/chirag-makwana-85956925a/</a></p>
                    <p><strong>Github:</strong> <a href="https://github.com/chirag1807" target="_blank"> https://github.com/chirag1807</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col my-5">
            <div class="card bg-light h-100 shadow-sm border-0">
              <div class="row">
                <div class="col-md-6 order-md-1 about-pic">
                  <img src="../../../assets/dhyey.jpg" class="card-img-top" alt="Dhyey">
                </div>
                <div class="col-md-6 order-md-1">
                  <div class="card-body profile-info">
                    <h5 class="card-title mb-0">Dhyey Panchal</h5>
                    <p><strong>Enrollment No:</strong> 200280116011</p>
                    <p><strong>Branch:</strong> Information Technology</p>
                    <p><strong>Semester:</strong> 6th</p>
                    <p><strong>Email:</strong> dhyey22403@gmail.com</p>
                    <p><strong>Phone:</strong> +91 99136 22403</p>
                    <p><strong>Skills:</strong> MERN Developer</p>
                    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/dhyey-panchal-72518b23b/" target="_blank"> https://www.linkedin.com/in/dhyey-panchal-72518b23b/</a></p>
                    <p><strong>Github:</strong> <a href="https://github.com/dhyeypanchal" target="_blank"> https://github.com/dhyeypanchal</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col my-5">
            <div class="card bg-light h-100 shadow-sm border-0">
              <div class="row">
                <div class="col-md-6 order-md-1 about-pic">
                  <img src="../../../assets/hiral.jpg" class="card-img-top" alt="Hiral">
                </div>
                <div class="col-md-6 order-md-1">
                  <div class="card-body profile-info">
                    <h5 class="card-title mb-0">Hiral Vala</h5>
                    <p><strong>Enrollment No:</strong> 200280116053</p>
                    <p><strong>Branch:</strong> Information Technology</p>
                    <p><strong>Semester:</strong> 6th</p>
                    <p><strong>Email:</strong> valahiral563@gmail.com</p>
                    <p><strong>Phone:</strong> +91 74870 52675</p>
                    <p><strong>Skills:</strong> Flutter Developer</p>
                    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/hiral-vala-3309b0212" target="_blank"> https://www.linkedin.com/in/hiral-vala-3309b0212</a></p>
                    <p><strong>Github:</strong> <a href="https://github.com/Hiralvala" target="_blank"> https://github.com/Hiralvala</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>