<div class="login-section">
    <div ng-app="loginApp" ng-controller="loginCtrl">
        <div class="container">
          <h2>Login</h2>
          <form ng-submit="login()" name="loginForm">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" class="form-control" ng-model="user.email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" class="form-control" ng-model="user.password" required>
            </div>
            <button type="submit" class="btn" ng-disabled="loginForm.$invalid">Login</button>
          </form>
        </div>
      </div>
</div>
